body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.from-input{
  margin-left: 40px;    
}
.input{
    border: none;
    outline: none;
}

.adminlayout-left {
    width: 20% !important;
    float: left;
}

.adminlayout-right {
    width: 80% !important;
    float: right !important
}


#sidebar {
    position: fixed !important;
    height:100vh ;
    width: 20%;
    list-style-type: none;
   
}

.sidebar ul li {
    display: block !important;
    padding: 12px 0px;

}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    color: white !important;
}


.add-products {
    overflow: auto !important;
}

.admin-header {
    position: fixed;
    width: 100%;
    top: 0 !important;
  
}

.header-link li {
    display: inline-block;

}

.header-link a {
    font-size: 17px;
    text-decoration: none;
    list-style-type: none;
    color: #f5f5f5;
}


 #admin-dashboard{
    margin-top: 85px !important;
    
  } 

  .App{
    margin-top:-40px !important;
  }

  